<div class="container">
    <div class="text-center">
        <button type="button" class="btn btn-primary btn-md align-center" (click)="showAllVoters()">Show List of All Voters</button>
    </div>
    <div class="divider"><span></span><span>OR</span><span></span></div>
    <form>
        <h3 class="alert alert-primary text-center">Search with Filters</h3>
        <div class="form-group form-row">
            <div class="col">
                <label for="exampleInputEmail1">First Name</label>
                <input type="text" #firstName class="form-control" placeholder="First name">
            </div>
            <div class="col">
                <label for="exampleInputEmail1">Last Name</label>
                <input type="text" #lastName class="form-control" placeholder="Last name">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" #email class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Locale</label>
            <select #locale class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>Choose...</option>
                <option value="Kasarvadavali">Kasarvadavali</option>
                <option value="Manpada">Manpada</option>
                <option value="Naupada">Naupada</option>
            </select>
        </div>
        <button type="button" (click)="onSearch(firstName.value, lastName.value, email.value, locale.value)" class="btn btn-primary btn-md btn-block block">Search</button>
    </form>
</div>
<div class="container">
    <h4 *ngIf="isResult" class="alert alert-success text-center">
        <div class="divider"><span></span><span>Results</span><span></span></div>
    </h4>
    <div class="grid-container"> 
        <div *ngFor="let obj of voters" class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/profile.png" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title text-center">{{obj.name}}</h2>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Gender: {{obj.gender}}</li>
                <li class="list-group-item">Age: {{obj.age}}</li>
                <li class="list-group-item">Email: {{obj.email}}</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">See More Details</a>
            </div>
        </div>
    </div>
</div>





        
