<div class="container p-4 border border-dark col-md-3">
    <h3 class="alert alert-primary text-center" role="alert">
        Admin Login
    </h3>
    <form>
        <div class="form-group col-md-12">
            <label for="inputEmail4">Name</label>
            <input type="text" #name class="form-control" id="email" placeholder="Username">

        </div>
        <div class="form-group col-md-12">
            <label for="inputPassword4">Password</label>
            <input type="password" #password class="form-control" id="password" placeholder="Password">
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary mb-2">LogIn</button>
        </div>
    </form>
</div>