<div class="container home">
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <div class="card-header">Voter Services</div>
            <div class="card-body">
              <p class="card-text">Contains all Voter Related Queries and information</p>
              <a class="btn btn-primary" (click)="onVoter()">Take me to Voter Services</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-header">Candidate Services</div>
            <div class="card-body">
              <p class="card-text">Contains all Candidate Related Queries and information</p>
              <a class="btn btn-primary" (click)="onCandidate()">Take me to Candidate Services</a>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <div class="card-header">Staff Login</div>
            <div class="card-body">
              <p class="card-text">All Staff and Management Related Services</p>
              <a class="btn btn-primary" (click)="onStaff()">Staff Login</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-header">Admin Login</div>
            <div class="card-body">
              <p class="card-text">Contains all Administrative functionalities and Services </p>
              <a class="btn btn-primary" (click)="onAdmin()">Admin Login</a>
            </div>
        </div>
    </div>
</div>