<div *ngIf="!isLoginSuccessful" class="container p-4 border border-dark">
    <h3 class="alert alert-primary text-center" role="alert">
        Staff Login
    </h3>
    <form (ngSubmit)="staffLogin(name.value, password.value, locale.value, localeId.value)">
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Name</label>
              <input type="text" #name class="form-control" id="email" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Password</label>
              <input type="password" #password class="form-control" id="password" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Locale</label>
            <select #locale class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>Choose...</option>
                <option value="kasarvadavali">Kasarvadavali</option>
                <option value="manpada">Manpada</option>
                <option value="naupada">Naupada</option>
            </select>
        </div>
        <div class="form-group">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Locale Id</label>
            <select #localeId class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref2">
                <option selected>Choose...</option>
                <option value="01">Sector-01</option>
                <option value="02">Sector-02</option>
            </select>
        </div>
        <div *ngIf="isPasswordInvalid" class="alert alert-danger" role="alert">
            Invalid Password
        </div>
        <div *ngIf="isLoginError" class="alert alert-danger" role="alert">
            Authentication Failed! Please Try again
        </div>
        <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
    </form>
</div>
<div *ngIf="isLoginSuccessful" class="container">
    <div *ngFor="let obj of staff" class="alert alert-success" role="alert">
        <h4 class="alert-heading">Logged In Successfully</h4>
        <p>You can now Add, Update and Delete Candidates</p>
        <hr>
        <p class="mb-0"> Welcome: {{obj.name}}</p>
        <p class="mb-0"> Locale: {{obj.locale}}</p>
        <p class="mb-0"> LocaleId: {{obj.localeId}}</p>
    </div>
      <div class=" form-inline p-2">
        <button type="button" class="btn btn-primary btn-md p-2 text-center">Manage Candidates</button>
        <button type="button" class="btn btn-primary btn-md p-2 text-center">Start Election</button>
        <button type="button" class="btn btn-danger btn-md p-2 text-center" (click)="onLogout()">Logout</button>
      </div> 
</div>